body {
  margin: 0;
  padding: 0;
  background: #e1bee7;
  overflow-x: hidden;
  transition: background 0.3s ease;
  font-family: "Segoe UI", sans-serif;
}

body.dark-body {
  background: #121212;
}


.app-container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.app-container.dark {
  color: #eee;
}


.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}


button {
  padding: 10px 15px;
  background-color: #7b1fa2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4a0072;
}


.toggle-btn {
  background-color: #ffc822;
  color: black;
  margin-bottom: 20px;
  margin-right: 89px;
}

.toggle-btn:hover {
  background-color: #deb810;
}


.task-list {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
}

.task-list li {
  background: white;
  margin: 10px 0;
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-list li span {
  cursor: pointer;
}


.app-container.dark .task-list li {
  background: #333;
  color: white;
}


.action-buttons {
  display: flex;
  gap: 10px;
}


.task-list li.done span {
  text-decoration: line-through;
  color: gray;
}


.no-task {
  margin-top: 30px;
  font-size: 18px;
  color: #6a1b9a;
}